@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&family=Source+Code+Pro:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
}

.sidebar {
    background-color: #bfd3e4ad;
    width: 200px;
    font-family: 'Fira Sans', sans-serif;
    height: 100vh;
}

.sidebar nav {
    padding: 45px;

}

.sidebar nav li {
    list-style: none;
    font-size: 20px;
    padding: 33px 0;
}

.sidebar nav li a {
    text-decoration: none;
    color: black;
}

.main {
    /* background-color:#94aff8; */
    width: 90vw;
}

.container {
    display: flex;

}

.projectcontainer {
    margin: 22px;
    padding: 5px;
    margin-top: 80px;
}

.projectcontainer h1 {
    font-family: 'Fira Sans', sans-serif;
    margin: 12px;
}

.projectcontainer p {
    font-family: 'Fira Sans', sans-serif;
    margin: 12px;
    font-weight: bold;
    font-size: larger;
}