@import url("https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fira+Sans&family=Source+Code+Pro:wght@300&display=swap");

* {
    margin: 0;
    padding: 0;
}

.sidebar {
    position: absolute;
    background-color: cornflowerblue;
    font-family: "Fira Sans", sans-serif;
    height: 100vh;
    transition: 0.3s ease-in;
}

.sidebar nav {
    padding: 45px;
}

.sidebar nav li {
    list-style: none;
    font-size: 20px;
    padding: 33px 0;
}

.sidebar nav li a {
    text-decoration: none;
    color: black;
}

.sidebarGo{
    transform: translate(-443px, 0px);
    position: absolute;
}

.main {
    width: 90vw;
}

.hamburger {
    position: absolute;
    cursor: pointer;
    top: 10px;
    left: 10px;
}

.ham{
    margin-top: 10px;
    margin-left: 10px;
}

.cross{
    margin-left: 115px;
}

.container {
    display: flex;
}
.intro{
    margin: 30px 160px;
}
.intro h1,
.intro h2 {
    font-family: "Fira Sans", sans-serif;
    margin: 22px;
    font-weight: bold;
}

.intro p {
    font-family: "Fira Sans", sans-serif;
    margin: 22px;
    font-size: 17px;
    background-color: aliceblue;

}

.skillcontainer {
    padding: 5px;
    margin: 22px;
}

.skill {
    width: 23px;
    height: 6px;
    border: 2px solid black;
    background-color: cornflowerblue;
}

.skillItem {
    display: flex;
    align-items: center;
    font-family: "Source Code Pro", monospace;
    font-weight: bold;
}

.hundred {
    width: 265px;
    background-color: dodgerblue;
}

.hundred:hover {
    width: 265px;
    background-color: cornflowerblue;
}

.fifty {
    width: 125px;
    background-color: dodgerblue;
}

.fifty:hover {
    width: 125px;
    background-color: cornflowerblue;
}

.t5 {
    background-color: dodgerblue;
    width: 75px;
}

.t5:hover {
    width: 75px;
    background-color: cornflowerblue;
}

@media (max-width:1200px){

    .intro{
        margin: 50px 8px;
    }
}

@media (min-width:280px) and (max-width:540px){
    .sidebar{
        height: 155vh;
    }

}