.projectcontainer {
    margin: 88px 190px;
}

.projectcontainer h1 {
    font-family: 'Fira Sans', sans-serif;
    margin: 12px;
}

.projectcontainer p {
    font-family: 'Fira Sans', sans-serif;
    margin: 12px;
    font-weight: bold;
    font-size: larger;
}

@media (max-width:1200px){

    .projectcontainer{
        margin: 50px 8px;
    }
}