.infoContainer {
    width: 80vw;
    height: 58vh;
    margin: 144px 190px;
    display: flex;
    justify-content: space-around;
}

.devPic img {
    height: 58vh;
}

.devInfo {
    display: flex;
    font-size: 15px;
    justify-content: center;
    flex-direction: column;
    font-family: "Source Code Pro", monospace;
}

.hello {
    font-size: 3em;
  
}

.name {
    font-size: 3em;
    font-weight: bold;
    font-family: "Fira Sans", sans-serif;
}

.about {
    font-size: 2.5em;
   
}

.moreabout {
    margin-top: 34px;
    font-size: 2em;
    font-family: "Fira Sans", sans-serif;
}

.buttons {
    margin-top: 2.2em;
}

@media (max-width:1200px){

    .infoContainer{
        flex-wrap: wrap;
        margin: 50px 58px;

    }

    .devPic{
        margin: 35px 125px 35px 10px;
    }

    .devPic img{
        height: 20vh;
    }

    .devInfo{
        font-size: 10px;
    }

    .btn{
       font-size: 10px; 
    }
}